@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap');

///================= semantics tags ==================//
body{
    font-family: 'Poppins', sans-serif;
}
//================= containers ==================//
[class*= '__container'] {
    
}
//================= style for classes ==================//
.main {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
.calculator {
    flex: 1 1 100%;
}